# Dependências
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretório de cobertura de testes
coverage/

# Arquivos temporários
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Arquivos de build
dist/
build/
site/

.README-antigo
